*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image:  linear-gradient(315deg, #485461 0%, #28313b 74%);
    background-repeat:no-repeat;
    background-size:100% 100vh;
    
}
.content-holder > h1
{
    font-size: 5rem;
}

.content-holder .photo
{
    height: 400px;
    width: 700px;
    object-fit:cover;
    background:url("../Assets/shop now 2.jpg");
    box-shadow: 5px 5px 5px #28313b;
    position: relative;
    bottom: 352px;
    left: 987px;

}
.content-holder
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    
}
.img-holder > img
{
    height: 500px;
    width: 500px;
    border-radius: 5px;
}
@media only screen and (max-width: 1200px) {
    .content-holder
    {
        flex-direction: column;
        gap: 3rem;
    }
  }