@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Padauk:wght@700&family=Raleway:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}
body
{
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav{
    flex-shrink: 0;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
    
}
p{
    color: white;
    font-size: 20px;
}
h1{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.container{
    max-width: 1300px;
    height: 100rem;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    margin-top: 10rem;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{ 
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%);
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 10px 55px 10px 55px;
    border-radius: 5px;
    margin: 1rem 0 1rem;
    font-size: 25px;
    background-size: 200% auto;
}
.btn:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.header{
    box-shadow: 2rem white;
}
.header .row{
    margin-top: 0;
}
.product:hover ~ hr {
    margin-left: 15.5%;
    width:15%;
  }
  
.faq:hover ~ hr {
    margin-left:38%;
    width:14%
  }
  
.login:hover ~ hr {
    margin-left: 59%;
    width: 8%;
  }
.register:hover ~ hr {
    margin-left: 75%;
    width:13%;
}
.logo
{
    margin-right: 50px;
}
.logo > img
{
    height: 100px;
    width: 100px;
}
i
{
    display: block;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: ease-out 100ms;
}
i:hover
{
    color:#B993D6;
    font-size: 1.8rem;
}
hr {
    height: .25rem;
    width:8%;
    margin: 0;
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%);
    border: none;
    transition: .3s ease-in-out;
  }
  .photo
  {
      position: absolute;
      height: 400px;
      width: 600px;
      object-fit:cover;
      background:url("Assets/shop\ now\ 2.jpg");
      box-shadow: 5px 5px 5px #28313b;
      border-radius: 5px;
      margin-top: -12rem;
      transition: ease-out 100ms;
  }
 .photo:hover
 {
    margin-top: -14rem;
    margin-left: -5rem;
    height: 500px;
    width: 700px;
 }